<h1>Welcome to School</h1>

<p>@Html.ActionLink("See all Departments", "Index", "Departments")</p>
<p>@Html.ActionLink("Create new department", "Create", "Departments")</p>

<p>@Html.ActionLink("See all Students", "Index", "Students")</p>
<p>@Html.ActionLink("Create new student", "Create", "Students")</p>

<p>@Html.ActionLink("See all Courses", "Index", "Courses")</p>
<p>@Html.ActionLink("Create new course", "Create", "Courses")</p>