@{
  Layout = "_Layout";
}

@model UniversityTracker.Models.Student

<h1>Edit Student</h1>

<h3>Edit this student: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StudentId)
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    @Html.LabelFor(model => model.EnrollmentDate)
    @Html.EditorFor(model => model.EnrollmentDate)

    <input type="submit" value="Save" class="btn btn-info">
}
@Html.ActionLink("Delete this student", "Delete", new {id = Model.StudentId})
