@{ 
  Layout = "_Layout";
}

@model UniversityTracker.Models.Course

<h1>Add a Student</h1>

<h3>Add a Student to this Course: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CourseId)
    @Html.Label("Select Student")
    @Html.DropDownList("StudentId")

    <input type="submit" value="Save" class="btn btn-info" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>