@{
  Layout = "Layout";
}

@model UniversityTracker.Models.Course
<h1>Add a new Course</h1>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    @Html.LabelFor(model => model.Number)
    @Html.TextBoxFor(model => model.Number)

    @Html.Label("Select student")
    @Html.DropDownList("StudentId") // CheckBoxFor here!!

    <input type="submit" value="Add a new course" class="btn btn-info" />
}